@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.quote-box {
  max-width: 600px;
  padding: 3rem;
  border-radius: 2%;
  background-color: aliceblue;
}

.primary {
  display: inline;
  text-align: center;
  font-size: 1.75rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
